#container {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    height: 510px;
    width: 450px;
    background-color: bisque;
    text-align: center;
    border-radius: 10px;
}

#status {
    height: 50px;
    width: 400px;
    margin: 0;
    font-size: 30px;
}

.box {
    height: 150px;
    width: 150px;
    border: 1px solid grey;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: whitesmoke;
    cursor: pointer;
    font-size: 125px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.box:hover {
    background-color: rgb(231, 231, 231);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#btn {
    border-radius: 10px;
    background-color: grey;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 50px;
    height: 25px;
    border: 1px solid grey;
}

#btn:hover {
    background-color: darkgray;
    cursor: pointer;
}

#label {
    width: 100px;
    height: auto;
}

